<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="/admin/users" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Paint Organizer</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link "><span class="pcoded-mtext">Users</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/sections" class="nav-link "><span class="pcoded-mtext">Sections</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/subsections" class="nav-link "><span class="pcoded-mtext">Subsections</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/manufacturers" class="nav-link "><span class="pcoded-mtext">Manufacturer Ads</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/logout" class="nav-link "><span class="pcoded-mtext">Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>