<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/header") %>
</head>

<body>
  <div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Login</h3>
          <form method="POST" action="/admin/login">
            <div class="input-group mb-3">
              <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <div class="form-group text-left">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> Save Details</label>
              </div>
            </div>
            <button class="btn btn-primary shadow-2 mb-4">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Required Js -->
  <script src="/assets/js/vendor-all.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>

</html>